{% load static %}


<!--
<img src="{% static "games/images/darts.png" %}" alt="My image"/>
-->
<!DOCTYPE HTML>

<html>
	<head>
		<title>Djarts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "games/css/main.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "games/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Menu -->
					{% include "menu_partial.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">



						<section>
							<h2>New Game</h2>
							<form method="post" action="/game/">
								{% csrf_token %}
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<select name="player_1">
											<option value="">Player One</option>
										 	{% for player in players %}
												<option value="{{player.id}}">{{player}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6 col-12-xsmall">
										<select name="player_2">
											<option value="">Player Two</option>
										 	{% for player in players %}
												<option value="{{player.id}}">{{player}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12">
										<select name="game_type">
											<option value="">Game Type</option>
										 	{% for game_type in game_types %}
												<option value="{{game_type.id}}">{{game_type.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12">
										<select name="location">
											<option value="">Location</option>
										 	{% for location in locations %}
												<option value="{{location.id}}">{{location.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12">
										<div class="textarea-wrapper"><textarea name="notes" id="demo-message" placeholder="Game Notes" rows="1" style="overflow: hidden; resize: none; height: 69px;"></textarea></div>
									</div>

									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Start Game" class="primary"></li>
											<li><input type="reset" value="Reset"></li>
										</ul>
									</div>
								</div>
							</form>
						</section>


						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Brought to you by: <a href="http://www.raybeam.com">Raybeam, Inc.</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static "games/js/jquery.min.js" %}"></script>
			<script src="{% static "games/js/browser.min.js" %}"></script>
			<script src="{% static "games/js/breakpoints.min.js" %}"></script>
			<script src="{% static "games/js/util.js" %}"></script>
			<script src="{% static "games/js/main.js" %}"></script>

	</body>
</html>