{% load static %}


<!--
<img src="{% static "games/images/darts.png" %}" alt="My image"/>
-->
<!DOCTYPE HTML>

<html>
	<head>
		<title>Djarts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "games/css/main.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "games/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">



				<!-- Menu -->
					{% include "menu_partial.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							{% for player in players %}
								<a href="/player/{{ player.id }}">{{ player.id }}</a> {{ player.first_name }}
								<br><br>
							{% endfor %}
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Brought to you by: <a href="http://www.raybeam.com">Raybeam, Inc.</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static "games/js/jquery.min.js" %}"></script>
			<script src="{% static "games/js/browser.min.js" %}"></script>
			<script src="{% static "games/js/breakpoints.min.js" %}"></script>
			<script src="{% static "games/js/util.js" %}"></script>
			<script src="{% static "games/js/main.js" %}"></script>

	</body>
</html>