{% load static %}


<!--
<img src="{% static "games/images/darts.png" %}" alt="My image"/>
-->
<!DOCTYPE HTML>

<html>
	<head>
		<title>Djarts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "games/css/main.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "games/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="{% static "games/images/logo.svg" %}" alt="" /></span><span class="title">Djarts</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/rules">Rules</a></li>
							<li><a href="/">New Game</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Rules</p>
							</header>
							<section class="tiles">

							{% for game_type in game_types %}

								<article class="{% cycle 'style1' 'style2' 'style3' 'style4' 'style5' 'style6' %}">
									<span class="image">
										<img src="/static/games/images/{% cycle 'pic01' 'pic02' 'pic03' 'pic04' 'pic05' 'pic06' %}.jpg" alt="" />
									</span>
									<a href="/game_type/{{game_type.id}}">
										<h2>{{game_type.name}}</h2>
										<div class="content">
											<p>{{game_type.description}}</p>
										</div>
									</a>
								</article>

							{% endfor %}

							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
<!--
							<section>


								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
-->
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Brought to you by: <a href="http://www.raybeam.com">Raybeam, Inc.</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static "games/js/jquery.min.js" %}"></script>
			<script src="{% static "games/js/browser.min.js" %}"></script>
			<script src="{% static "games/js/breakpoints.min.js" %}"></script>
			<script src="{% static "games/js/util.js" %}"></script>
			<script src="{% static "games/js/main.js" %}"></script>

	</body>
</html>