{% load static %}


<!--
<img src="{% static "games/images/darts.png" %}" alt="My image"/>
-->
<!DOCTYPE HTML>

<html>
	<head>
		<title>Djarts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "games/css/main.css" %}" />
		<noscript><link rel="stylesheet" href="{% static "games/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Menu -->
					{% include "menu_partial.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Rules</p>
							</header>
							<section class="tiles">

							{% for game_type in game_types %}

								<article class="{% cycle 'style1' 'style2' 'style3' 'style4' 'style5' 'style6' %}">
									<span class="image">
										<img src="/static/games/images/{% cycle 'pic01' 'pic02' 'pic03' 'pic04' 'pic05' 'pic06' %}.jpg" alt="" />
									</span>
									<a href="/game_type/{{game_type.id}}">
										<h2>{{game_type.name}}</h2>
										<div class="content">
											<p>{{game_type.description}}</p>
										</div>
									</a>
								</article>

							{% endfor %}

							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Brought to you by: <a href="http://www.raybeam.com">Raybeam, Inc.</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static "games/js/jquery.min.js" %}"></script>
			<script src="{% static "games/js/browser.min.js" %}"></script>
			<script src="{% static "games/js/breakpoints.min.js" %}"></script>
			<script src="{% static "games/js/util.js" %}"></script>
			<script src="{% static "games/js/main.js" %}"></script>

	</body>
</html>